.container{
    align-content: center;
    align-items: center;
}
.col{
    margin: auto !important;
    margin-top: 10px !important;
    float:none !important;
}
.tabs{
    position: absolute !important;
    right:0px !important;
    
}
@media screen and (min-width: 990px) {
    .tabs{
        width: 20% !important;
    }
}
body {
    background-color: #fcfcfc;
}